Repository BinaryStudioAcademy/bsa-2019-metrica, pull requests merged in 2019-09, with the labels that each got.

#333 Fix error after merge recursive collections
  backend/app/Actions/Visitors/GetVisitorsBounceRateByParameterAction.php
  backend/app/Repositories/Contracts/TableVisitorsRepository.php
  backend/app/Repositories/EloquentTableVisitorsRepository.php
Labels: bug, fix

#330 Fix/display-correct-format-for-avg-time-button
  frontend/src/api/page_views/averageTimeService.js
  frontend/src/api/page_views/transformers.js
Labels: fix, frontend

#331 add page timings fields to visit entity, update visit creation processing
  backend/app/Actions/Sessions/GetSessionsRequest.php
  backend/app/Actions/Visitors/BounceRateRequest.php
  backend/app/Actions/Visits/CreateVisitAction.php
  backend/app/Actions/Visits/CreateVisitRequest.php
  backend/app/Actions/Visits/GetPageViewsChartAvgTimeRequest.php
  backend/app/Actions/Visits/GetPageViewsRequest.php
  backend/app/Actions/Visits/GetUniquePageViewsChartRequest.php
  backend/app/Entities/Visit.php
  backend/app/Entities/Website.php
  backend/app/Http/Requests/Api/GetBounceRateChartHttpRequest.php
  backend/app/Http/Requests/ChartHttpRequestTrait.php
  backend/app/Http/Requests/Session/GetSessionsFilterHttpRequest.php
  backend/app/Http/Requests/Visit/CreateVisitHttpRequest.php
  backend/app/Http/Requests/Visit/GetPageViewsChartAvgTimeHttpRequest.php
  backend/app/Http/Requests/Visit/GetPageViewsFilterHttpRequest.php
  backend/app/Http/Requests/Visit/GetUniquePageViewsChartHttpRequest.php
  backend/app/Http/Requests/Visitor/GetChartTotalVisitorsByDateRangeHttpRequest.php
  backend/app/Http/Requests/Visitor/GetNewChartVisitorsHttpRequest.php
  backend/app/Http/Requests/Visitor/GetVisitorsBounceRateHttpRequest.php
  backend/app/Utils/HostIndicationsService.php
  backend/database/migrations/2019_08_30_200942_add_timing_fields_to_visits_table.php
  backend/tests/Feature/VisitorsApiTest.php
  backend/tests/Feature/VisitsApiTest.php
Labels: backend

#327 get from backend data for fetchingActivityChartData
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dashboard/home/ActiveVisitorsCard.vue
  frontend/src/pages/Dashboard.vue
  frontend/src/store/modules/dashboard/actions.js
Labels: frontend

#342 rid button sign in sign up, remove variable with in chart
  frontend/src/components/dashboard/home/ActiveVisitorsCard.vue
  frontend/src/components/layout/header/TopNavbar.vue
Labels: fix, frontend

#350 fix average session chart data endpoint
  backend/app/Actions/Sessions/GetAverageSessionByIntervalAction.php
Labels: fix

#344 Feature/add page timings chart endpoints
  backend/app/Actions/PageTimings/GetAbstractPageTimingChartAction.php
  backend/app/Actions/PageTimings/GetChartRequest.php
  backend/app/Actions/PageTimings/GetChartResponse.php
  backend/app/Actions/PageTimings/GetDomainLookupChartAction.php
  backend/app/Actions/PageTimings/GetPageLoadingChartAction.php
  backend/app/Actions/PageTimings/GetServerResponseChartAction.php
  backend/app/Http/Controllers/Api/PageTimingController.php
  backend/app/Http/Requests/PageTimings/PageTimingChartHttpRequest.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Repositories/Contracts/ChartPageTimingRepository.php
  backend/app/Repositories/EloquentChartPageTimingRepository.php
  backend/routes/api.php
  backend/tests/Feature/PageTimingApiTest.php
Labels: backend

#358 add page timings vue page component and route
  frontend/src/components/layout/Sidepanel.vue
  frontend/src/configs/page_timings/buttonTypes.js
  frontend/src/pages/speed_overview/PageTimings.vue
  frontend/src/pages/speed_overview/SpeedOverview.vue
  frontend/src/plugins/router.js
Labels: frontend

#370 edit path for chart-visits
  frontend/src/api/page_views/pageViewsService.js
Labels: fix, frontend

#373 rename label
  frontend/src/components/dashboard/home/ActiveVisitorsCard.vue
Labels: fix, frontend

#359 Fix incorrect visitors page
  backend/app/Actions/Visitors/BounceRateAction.php
  backend/app/Repositories/EloquentTableSessionRepository.php
  backend/app/Repositories/EloquentTableVisitorsRepository.php
  backend/tests/Feature/TableVisitorsApiTest.php
  backend/tests/Feature/VisitorsApiTest.php
  backend/tests/TestDataFactory.php
  frontend/src/pages/Visitors.vue
  frontend/src/store/modules/page_views/actions.js
  frontend/src/store/modules/visitors/actions.js
  frontend/src/store/modules/visitors/getters.js
Labels: backend, fix, frontend

#362 Feature/add page timings state
  frontend/src/api/page_timings/factoryPageTimingsService.js
  frontend/src/pages/speed_overview/PageTimings.vue
  frontend/src/store/index.js
  frontend/src/store/modules/page_timings/actions.js
  frontend/src/store/modules/page_timings/getters.js
  frontend/src/store/modules/page_timings/index.js
  frontend/src/store/modules/page_timings/mutations.js
  frontend/src/store/modules/page_timings/state.js
  frontend/src/store/modules/page_timings/types/actions.js
  frontend/src/store/modules/page_timings/types/getters.js
  frontend/src/store/modules/page_timings/types/mutations.js
Labels: frontend

#379 Feature/update server response calc
  backend/app/Actions/Visits/CreateVisitAction.php
  backend/app/Utils/HostIndicationsService.php
Labels: backend, fix

#385 edit period chart
  frontend/src/store/modules/dashboard/actions.js
Labels: fix, frontend

#343 add script for check visitor and visit
  .aws/webserver/Dockerfile
  .scripts/deploy.sh
  .travis.yml
  backend/app/Actions/Visitors/CreateVisitorAction.php
  backend/app/Actions/Visitors/CreateVisitorRequest.php
  backend/app/Exceptions/WebsiteDomainNotValidException.php
  backend/app/Http/Requests/Visit/CreateVisitHttpRequest.php
  backend/app/Http/Requests/Visitor/CreateVisitorHttpRequest.php
  backend/tests/Feature/CreateVisitorTest.php
  docker-compose.test.yml
  frontend/.env.example
  frontend/.env.travis
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/.babelrc
  frontend/scripts/metrica.js
  frontend/src/components/website/TrackWebsite.vue
  frontend/src/config.js
  frontend/webpack.script.js
  readme.md
  test-site/.env.production
  test-site/.env.stage
  test-site/.env.travis
  test-site/.gitignore
  test-site/about.html
  test-site/contact.html
  test-site/index.js
  test-site/package-lock.json
  test-site/package.json
  test-site/portfolio.html
  test-site/src/css/main.css
  test-site/src/index.html
  test-site/webpack.config.js
Labels: frontend

#389 add dropdown for visitors flow page
  frontend/src/components/dashboard/visitors_flow/VisitorsFlowDropdown.vue
Labels: frontend

#396 Fix format data in fetchPost in script
  backend/app/Actions/Visitors/CreateVisitorAction.php
  backend/app/Actions/Visitors/CreateVisitorRequest.php
  backend/app/Exceptions/WebsiteDomainNotValidException.php
  backend/app/Http/Requests/Visitor/CreateVisitorHttpRequest.php
  frontend/scripts/metrica.js
  frontend/src/components/website/TrackWebsite.vue
Labels: frontend

#394 Add entity errors migrate and seeds
  backend/app/Entities/Error.php
  backend/database/factories/ErrorFactory.php
  backend/database/migrations/2019_09_04_204927_add_errors_table.php
  backend/database/seeds/DatabaseSeeder.php
  backend/database/seeds/ErrorsTableSeeder.php
Labels: backend

#404 add error reports page
  frontend/src/components/layout/Sidepanel.vue
  frontend/src/pages/speed_overview/ErrorReports.vue
  frontend/src/plugins/router.js
Labels: frontend

#405 round avg session time to int
  frontend/src/api/transformers.js
  frontend/src/api/visitors/averageSessionsService.js
Labels: fix, frontend

#386 add visitors flow diagram
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dashboard/visitors_flow/VisitorsFlowDiagram.vue
  frontend/src/components/layout/Sidepanel.vue
  frontend/src/main.js
  frontend/src/pages/Behavior.vue
  frontend/src/pages/VisitorsFlow.vue
  frontend/src/plugins/router.js
Labels: frontend

#407 fix user by time of day widget
  backend/app/Actions/Visits/GetVisitsDensityAction.php
  backend/app/Repositories/Contracts/VisitRepository.php
  backend/app/Repositories/EloquentVisitRepository.php
  frontend/src/components/dashboard/home/VisitsDensityWidget.vue
Labels: fix

#406 Add spa script conditions
  frontend/scripts/metrica.js
  frontend/src/components/website/TrackWebsite.vue
  frontend/src/components/website/WebsiteForm.vue
  test-site/webpack.config.js
Labels: frontend

#410 display page view exit rate in percentage
  frontend/src/api/transformers.js
Labels: fix, frontend

#411 fix query to visits table
  backend/app/Repositories/EloquentVisitRepository.php
  frontend/src/components/dashboard/home/VisitsDensityWidget.vue
Labels: fix

#420 Fix/invite user email didn't send
  frontend/src/api/team.js
Labels: fix

#423 Add Errors details modal window component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dashboard/errors/ErrorsDetailsModal.vue
  frontend/src/components/dashboard/errors/ErrorsTable.vue
  frontend/src/pages/speed_overview/ErrorReports.vue
Labels: frontend

#429 fix avg time on site for page views
  frontend/src/api/page_views/averageTimeService.js
Labels: fix, frontend

#426 Feature/add line chart component error reports
  frontend/src/pages/speed_overview/ErrorReports.vue
  frontend/src/store/index.js
  frontend/src/store/modules/error_report/actions.js
  frontend/src/store/modules/error_report/getters.js
  frontend/src/store/modules/error_report/index.js
  frontend/src/store/modules/error_report/mutations.js
  frontend/src/store/modules/error_report/state.js
  frontend/src/store/modules/error_report/types/actions.js
  frontend/src/store/modules/error_report/types/getters.js
  frontend/src/store/modules/error_report/types/mutations.js
Labels: frontend

#424 improve visitors flow diagram
  frontend/src/components/dashboard/visitors_flow/VisitorsFlowDiagram.vue
Labels: frontend

#427 Add endpoint to get errors grouped by page
  backend/app/Actions/ErrorReport/GetErrorTableItemsAction.php
  backend/app/Actions/ErrorReport/GetErrorTableItemsRequest.php
  backend/app/Actions/ErrorReport/GetErrorTableItemsResponse.php
  backend/app/DataTransformer/ErrorReport/TableErrorReport.php
  backend/app/Entities/Error.php
  backend/app/Entities/Page.php
  backend/app/Http/Controllers/Api/ErrorReportController.php
  backend/app/Http/Requests/ErrorReport/GetErrorTableItemsHttpRequest.php
  backend/app/Http/Resources/ErrorTableResource.php
  backend/app/Repositories/Contracts/ErrorReport/ErrorReportRepository.php
  backend/app/Repositories/EloquentErrorReportRepository.php
  backend/app/Repositories/EloquentTableVisitorsRepository.php
  backend/app/Rules/ErrorTableParameter.php
  backend/routes/api.php
  backend/tests/Feature/TableErrorTest.php
  backend/tests/TestDataFactory.php
Labels: backend

#437 add endpoint get count errors pre period
  backend/app/Actions/ErrorReport/GetChartErrorByDateRangeAction.php
  backend/app/Actions/ErrorReport/GetChartErrorByDateRangeRequest.php
  backend/app/Actions/ErrorReport/GetChartErrorByDateRangeResponse.php
  backend/app/DataTransformer/ErrorReport/ChartCountErrors.php
  backend/app/Http/Controllers/Api/ErrorReportController.php
  backend/app/Http/Requests/ErrorReport/GetChartErrorByDateRangeHttpRequest.php
  backend/app/Repositories/Contracts/ErrorReport/ErrorReportRepository.php
  backend/app/Repositories/EloquentErrorReportRepository.php
  backend/routes/api.php
  backend/tests/Feature/ChartErrorsApiTest.php
Labels: backend

#440 Add script for collect errors
  frontend/scripts/metrica.js
Labels: frontend

#432 fix geo-location page
  backend/app/Actions/GeoLocation/GetGeoLocationItemsAction.php
  backend/app/Entities/Session.php
  frontend/src/api/geo_location/transformer.js
  frontend/src/components/dashboard/geo_location/GroupedTable.vue
Labels: fix

#439 fix calculation of bounce rate data for table
  backend/app/Actions/Visitors/GetVisitorsBounceRateByParameterAction.php
  backend/app/DataTransformer/Visitors/BounceRateVisitors.php
  backend/app/Http/Controllers/Api/VisitorController.php
  backend/app/Http/Resources/VisitorsBounceRateResource.php
  backend/app/Repositories/EloquentChartVisitorsRepository.php
  backend/app/Repositories/EloquentTableVisitorsRepository.php
  backend/tests/Feature/TableBounceRateVisitorsApiTest.php
  frontend/src/api/visitors/bounceRateService.js
Labels: backend, fix

#444 round outcome new/returning visitors numbers
  frontend/src/store/modules/visitors/actions.js
Labels: fix, frontend

#434 show data only for exist values
  backend/app/Actions/Visitors/BounceRateAction.php
Labels: backend, fix

#430 Feature/add visitors flow endpoint
  .travis.yml
  backend/app/Actions/VisitorsFlow/GetVisitorFlowResponse.php
  backend/app/Actions/VisitorsFlow/GetVisitorsFlowAction.php
  backend/app/Actions/VisitorsFlow/GetVisitorsFlowRequest.php
  backend/app/Actions/Visits/CreateVisitAction.php
  backend/app/Aggregates/VisitorsFlow/Aggregate.php
  backend/app/Aggregates/VisitorsFlow/BrowserAggregate.php
  backend/app/Aggregates/VisitorsFlow/CountryAggregate.php
  backend/app/Aggregates/VisitorsFlow/DeviceAggregate.php
  backend/app/Aggregates/VisitorsFlow/ScreenAggregate.php
  backend/app/Aggregates/VisitorsFlow/Values/PageValue.php
  backend/app/DataTransformer/VisitorsFlow/ParameterFlowCollection.php
  backend/app/DataTransformer/VisitorsFlow/ParameterFlowItem.php
  backend/app/DataTransformer/VisitorsFlow/ParameterItem.php
  backend/app/DataTransformer/VisitorsFlow/ParametersCollection.php
  backend/app/Http/Controllers/Api/VisitorsFlowController.php
  backend/app/Http/Requests/VisitorsFlow/GetVisitorsFlowHttpRequest.php
  backend/app/Http/Resources/VisitorsFlowResource.php
  backend/app/Listeners/CreateVisitAggregate.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Providers/EventServiceProvider.php
  backend/app/Repositories/Contracts/GeoPositionRepository.php
  backend/app/Repositories/Contracts/VisitRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/BrowserCriteria.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/Contracts/Criteria.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/Contracts/VisitorFlowBrowserRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/Contracts/VisitorFlowCountryRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/Contracts/VisitorFlowDeviceRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/Contracts/VisitorFlowRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/Contracts/VisitorFlowScreenRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/CountryCriteria.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/DeviceCriteria.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/ElasticsearchVisitorFlowBrowserRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/ElasticsearchVisitorFlowCountryRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/ElasticsearchVisitorFlowDeviceRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/ElasticsearchVisitorFlowScreenRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/ScreenCriteria.php
  backend/app/Repositories/EloquentGeoPositionRepository.php
  backend/app/Repositories/EloquentVisitRepository.php
  backend/app/Services/VisitorsFlow/FlowAggregateService.php
  backend/app/Services/VisitorsFlow/FlowBrowserAggregateService.php
  backend/app/Services/VisitorsFlow/FlowCountryAggregateService.php
  backend/app/Services/VisitorsFlow/FlowDeviceAggregateService.php
  backend/app/Services/VisitorsFlow/FlowScreenAggregateService.php
  backend/database/migrations/2019_09_08_013215_create_country_visitors_flow_index.php
  backend/database/migrations/2019_09_08_013610_create_browser_visitors_flow_index.php
  backend/database/migrations/2019_09_08_013620_create_device_visitors_flow_index.php
  backend/database/migrations/2019_09_08_013634_create_screen_visitors_flow_index.php
  backend/routes/api.php
  backend/tests/Feature/GetSessionsByParameterTest.php
  docker-compose.test.yml
  readme.md
Labels: backend

#442 Add errors store module, fix script stack trace
  frontend/scripts/metrica.js
  frontend/src/components/dashboard/errors/ErrorsTable.vue
  frontend/src/pages/speed_overview/ErrorReports.vue
  frontend/src/store/modules/error_report/actions.js
  frontend/src/store/modules/error_report/getters.js
  frontend/src/store/modules/error_report/mutations.js
  frontend/src/store/modules/error_report/state.js
  frontend/src/store/modules/error_report/types/actions.js
  frontend/src/store/modules/error_report/types/getters.js
  frontend/src/store/modules/error_report/types/mutations.js
Labels: frontend

#453 Fix/realtime activity card
  backend/app/Repositories/EloquentVisitorRepository.php
  backend/tests/Feature/ActivityVisitorTest.php
  frontend/src/components/dashboard/home/ActiveVisitorsCard.vue
  frontend/src/components/dashboard/home/VisitsDensityWidget.vue
  frontend/src/components/widgets/DevicesPieChart.vue
  frontend/src/store/modules/dashboard/actions.js
Labels: backend, fix, frontend

#450 Link front with back on errors page
  frontend/scripts/metrica.js
  frontend/src/api/error_report/errorsService.js
  frontend/src/api/transformers.js
  frontend/src/components/dashboard/errors/ErrorsDetailsModal.vue
  frontend/src/components/dashboard/errors/ErrorsTable.vue
  frontend/src/pages/speed_overview/ErrorReports.vue
  frontend/src/store/modules/error_report/actions.js
  frontend/src/store/modules/error_report/getters.js
  frontend/src/store/modules/error_report/types/getters.js
Labels: backend, frontend

#448 Feature/add delete team member
  backend/app/Actions/Teams/RemoveTeamMemberAction.php
  backend/app/Http/Controllers/Api/TeamController.php
  backend/app/Repositories/Contracts/WebsiteRepository.php
  backend/app/Repositories/EloquentWebsiteRepository.php
  backend/tests/Feature/AddRemoveTeamMemberTest.php
  frontend/src/api/team.js
  frontend/src/components/team/InviteMemberForm.vue
  frontend/src/store/modules/team/actions.js
  frontend/src/store/modules/team/types/actions.js
  frontend/src/store/modules/website/types/actions.js
Labels: backend, frontend

#446 make rects with low values in users density widget more visible
  frontend/src/components/dashboard/home/VisitsDensityWidget.vue
Labels: fix

#457 Fix/add visitors flow endpoint
  backend/app/Actions/VisitorsFlow/GetVisitorsFlowAction.php
  backend/app/DataTransformer/VisitorsFlow/BrowserFlowCollection.php
  backend/app/DataTransformer/VisitorsFlow/BrowserFlowItem.php
  backend/app/DataTransformer/VisitorsFlow/CountryFlowCollection.php
  backend/app/DataTransformer/VisitorsFlow/CountryFlowItem.php
  backend/app/DataTransformer/VisitorsFlow/DeviceFlowCollection.php
  backend/app/DataTransformer/VisitorsFlow/DeviceFlowItem.php
  backend/app/DataTransformer/VisitorsFlow/ParameterFlowCollection.php
  backend/app/DataTransformer/VisitorsFlow/ParameterFlowItem.php
  backend/app/DataTransformer/VisitorsFlow/ScreenFlowCollection.php
  backend/app/DataTransformer/VisitorsFlow/ScreenFlowItem.php
  backend/app/Http/Requests/VisitorsFlow/GetVisitorsFlowHttpRequest.php
  backend/app/Http/Resources/VisitorsFlowResource.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/BrowserCriteria.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/ElasticsearchVisitorFlowBrowserRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/ElasticsearchVisitorFlowCountryRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/ElasticsearchVisitorFlowDeviceRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/ElasticsearchVisitorFlowScreenRepository.php
  backend/database/migrations/2019_09_08_013610_create_browser_visitors_flow_index.php
Labels: backend, fix, urgent

#449 add showing successful message on recovery password page
  frontend/src/components/auth/ResetPasswordForm.vue
  frontend/src/store/modules/auth/actions.js
Labels: frontend

#455 Add buttons to generate errors and small fixes
  backend/app/DataTransformer/ErrorReport/TableErrorReport.php
  backend/app/Http/Resources/ErrorTableResource.php
  backend/app/Repositories/EloquentErrorReportRepository.php
  frontend/src/components/dashboard/errors/ErrorsDetailsModal.vue
  frontend/src/pages/speed_overview/ErrorReports.vue
  test-site/src/css/main.css
  test-site/src/index.html
Labels: backend, frontend

#459 fix date condition in selecting active session
  backend/app/Repositories/EloquentSessionRepository.php
Labels: backend, fix

#447 Feature/add password recovery page
  backend/app/Actions/User/UpdateUserPasswordAction.php
  backend/app/Actions/User/UpdateUserPasswordRequest.php
  backend/app/Actions/User/UpdateUserPasswordResponse.php
  backend/app/Exceptions/ResetPasswordException.php
  backend/app/Http/Controllers/Api/UserController.php
  backend/app/Http/Requests/Auth/UpdatePasswordHttpRequest.php
  backend/app/Notifications/MailResetPasswordNotification.php
  backend/routes/api.php
  frontend/src/api/auth.js
  frontend/src/api/users.js
  frontend/src/components/auth/ChangePasswordFrom.vue
  frontend/src/pages/ChangePassword.vue
  frontend/src/plugins/router.js
  frontend/src/store/modules/auth/actions.js
Labels: backend, frontend

#461 link visitors flow front with back
  backend/app/Http/Requests/VisitorsFlow/GetVisitorsFlowHttpRequest.php
  frontend/src/api/visitors_flow/visitorsFlowService.js
  frontend/src/components/dashboard/visitors_flow/NoData.vue
  frontend/src/components/dashboard/visitors_flow/VisitorsFlowDiagram.vue
  frontend/src/components/dashboard/visitors_flow/VisitorsFlowDropdown.vue
  frontend/src/pages/VisitorsFlow.vue
  frontend/src/store/index.js
  frontend/src/store/modules/visitors_flow/actions.js
  frontend/src/store/modules/visitors_flow/getters.js
  frontend/src/store/modules/visitors_flow/index.js
  frontend/src/store/modules/visitors_flow/mutations.js
  frontend/src/store/modules/visitors_flow/state.js
  frontend/src/store/modules/visitors_flow/types/actions.js
  frontend/src/store/modules/visitors_flow/types/getters.js
  frontend/src/store/modules/visitors_flow/types/mutations.js
Labels: frontend

#460 show avg time in minutes on line chart
  frontend/src/api/page_views/averageTimeService.js
  frontend/src/api/transformers.js
  frontend/src/api/visitors/averageSessionsService.js
Labels: frontend

#465 Remove notification bell, fix avg.session time on visitors
  backend/app/Entities/Session.php
  frontend/src/components/layout/header/UserControls.vue
  frontend/src/store/modules/visitors/getters.js
Labels: backend, frontend

#469 fix visitors flow diagram
  frontend/src/components/dashboard/visitors_flow/VisitorsFlowDiagram.vue
  frontend/src/pages/VisitorsFlow.vue
Labels: fix

#468 add processing notification during sing up process
  frontend/src/components/auth/SignUpForm.vue
Labels: fix, frontend

#484 fix columns titles
  frontend/src/components/dashboard/visitors_flow/VisitorsFlowDiagram.vue
Labels: fix

#485 fix diagram width for 1280 screen width
  frontend/src/components/dashboard/visitors_flow/VisitorsFlowDiagram.vue
Labels: fix

#487 add scrollbar for cases of a large number of items in the list
  frontend/src/components/dashboard/geo_location/MapList.vue
Labels: fix

#486 fix error time
  backend/app/DataTransformer/ErrorReport/TableErrorReport.php
  frontend/src/api/transformers.js
  frontend/src/pages/speed_overview/ErrorReports.vue
Labels: backend, fix, frontend

#474 Fix/dashbord: active user link leads to today data
  frontend/src/components/dashboard/home/ActiveVisitorsCard.vue
  frontend/src/pages/PageViews.vue
  frontend/src/store/modules/page_views/actions.js
  frontend/src/store/modules/page_views/types/actions.js
Labels: fix

#489 Fix/replace creating aggregates to query'
  backend/.env.example
  backend/app/Aggregates/VisitorsFlow/BrowserAggregate.php
  backend/app/Aggregates/VisitorsFlow/CountryAggregate.php
  backend/app/Aggregates/VisitorsFlow/DeviceAggregate.php
  backend/app/Aggregates/VisitorsFlow/ScreenAggregate.php
  backend/app/Listeners/CreateVisitAggregate.php
  backend/app/Providers/EventServiceProvider.php
  backend/app/Repositories/Contracts/VisitRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/ElasticsearchVisitorFlowBrowserRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/ElasticsearchVisitorFlowCountryRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/ElasticsearchVisitorFlowDeviceRepository.php
  backend/app/Repositories/Elasticsearch/VisitorsFlow/ElasticsearchVisitorFlowScreenRepository.php
  backend/app/Repositories/EloquentVisitRepository.php
  backend/app/Services/VisitorsFlow/FlowAggregateService.php
  backend/app/Services/VisitorsFlow/FlowBrowserAggregateService.php
  backend/app/Services/VisitorsFlow/FlowCountryAggregateService.php
  backend/app/Services/VisitorsFlow/FlowDeviceAggregateService.php
  backend/app/Services/VisitorsFlow/FlowScreenAggregateService.php
  backend/config/queue.php
Labels: backend, fix, urgent
