Repository BinaryStudioAcademy/bsa-2019-metrica, pull requests merged in 2019-08, with the labels that each got.

#7 added vuex, vue-router, vuetify and axios modules
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#4 add update user endpoint
  backend/app/Actions/User/UpdateUserAction.php
  backend/app/Actions/User/UpdateUserRequest.php
  backend/app/Actions/User/UpdateUserResponse.php
  backend/app/Entities/User.php
  backend/app/Exceptions/Handler.php
  backend/app/Exceptions/UserNotFoundException.php
  backend/app/Http/Controllers/Api/UserController.php
  backend/app/Http/Requests/UpdateUserHttpRequest.php
  backend/app/Http/Resources/UserResource.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Repositories/Contracts/UserRepository.php
  backend/app/Repositories/EloquentUserRepository.php
  backend/config/auth.php
  backend/database/factories/UserFactory.php
  backend/database/seeds/DatabaseSeeder.php
  backend/routes/api.php
Labels: backend, enhancement

#16 Feature/add jwt auth frontend
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/HelloWorld.vue
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/layout/Footer.vue
  frontend/src/components/layout/Header.vue
  frontend/src/components/layout/header/TopNavbar.vue
  frontend/src/main.js
  frontend/src/pages/Layout.vue
  frontend/src/pages/Login.vue
  frontend/src/plugins/router.js
  frontend/src/plugins/vuetify.js
  frontend/src/store/index.js
  frontend/src/store/modules/auth/actions.js
  frontend/src/store/modules/auth/getters.js
  frontend/src/store/modules/auth/index.js
  frontend/src/store/modules/auth/mutations.js
  frontend/src/store/modules/auth/state.js
  frontend/src/store/modules/auth/types/actions.js
  frontend/src/store/modules/auth/types/getters.js
  frontend/src/store/modules/auth/types/mutations.js
Labels: frontend

#5 add endpoint for authentication users
  backend/app/Action/Auth/AuthenticationResponse.php
  backend/app/Action/Auth/GetAuthenticatedUserAction.php
  backend/app/Action/Auth/GetAuthenticatedUserResponse.php
  backend/app/Action/Auth/LoginAction.php
  backend/app/Action/Auth/LoginRequest.php
  backend/app/Entities/User.php
  backend/app/Exceptions/ErrorCode.php
  backend/app/Http/Controllers/Api/Auth/AuthController.php
  backend/app/Http/Controllers/Auth/RegisterController.php
  backend/app/Http/Resources/LoginResources.php
  backend/app/Request/Api/LoginHttpRequest.php
  backend/app/Request/ApiFormRequest.php
  backend/app/Response/ApiResponse.php
  backend/config/services.php
  backend/routes/api.php
  docker-compose.yml
Labels: backend

#13 Add reset password endpoint
  backend/app/Action/Auth/ResetPasswordRequest.php
  backend/app/Action/Auth/ResetPasswordResponse.php
  backend/app/Action/Auth/SendResetPasswordLinkAction.php
  backend/app/Entities/User.php
  backend/app/Exceptions/Handler.php
  backend/app/Exceptions/UserByEmailNotFoundException.php
  backend/app/Http/Controllers/Api/Auth/ResetPasswordController.php
  backend/app/Http/Requests/ResetPasswordHttpRequest.php
  backend/app/Notifications/MailResetPasswordNotification.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Repositories/Contracts/UserRepository.php
  backend/app/Repositories/EloquentUserRepository.php
  backend/config/jwt.php
  backend/routes/api.php
  docker-compose.override.yml
Labels: backend

#17 added login guard
  frontend/src/components/auth/LoginGuard.vue
  frontend/src/plugins/router.js
Labels: frontend

#6 add-jwt-library
  backend/app/Actions/User/RegisterRequest.php
  backend/app/Actions/User/RegisterResponse.php
  backend/app/Actions/User/RegisterUserAction.php
  backend/app/Entities/User.php
  backend/app/Http/Controllers/Auth/RegisterController.php
  backend/app/Http/Requests/RegisterHttpRequest.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Repositories/Contracts/UserRepository.php
  backend/routes/api.php
Labels: backend

#15 redefine errors render
  backend/app/Contracts/ApiException.php
  backend/app/Contracts/ApiResponse.php
  backend/app/Exceptions/ApiValidationException.php
  backend/app/Exceptions/Handler.php
  backend/app/Exceptions/UserNotFoundException.php
  backend/app/Http/Response/ApiResponse.php
Labels: backend

#21 rename action to actions
  backend/app/Actions/Auth/AuthenticationResponse.php
  backend/app/Actions/Auth/GetAuthenticatedUserAction.php
  backend/app/Actions/Auth/GetAuthenticatedUserResponse.php
  backend/app/Actions/Auth/LoginAction.php
  backend/app/Actions/Auth/LoginRequest.php
  backend/app/Actions/Auth/ResetPasswordRequest.php
  backend/app/Actions/Auth/ResetPasswordResponse.php
  backend/app/Actions/Auth/SendResetPasswordLinkAction.php
  backend/app/Http/Controllers/Api/Auth/AuthController.php
  backend/app/Http/Controllers/Api/Auth/ResetPasswordController.php
Labels: hotfix

#22 fix routes
  backend/routes/api.php
Labels: hotfix

#11 Add registration form for frontend
  docker-compose.override.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/assets/logo.svg
  frontend/src/components/auth/SignUpForm.vue
  frontend/src/main.js
  frontend/src/pages/SignUp.vue
  frontend/src/plugins/router.js
  frontend/src/plugins/vuetify.js
Labels: frontend

#23 delete npm pkg node-sass and default logos
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/logo.png
  frontend/src/assets/logo.svg
Labels: frontend

#29 add getAllVisitors endpoint
  backend/app/Actions/Visitors/GetAllVisitorsAction.php
  backend/app/Actions/Visitors/GetAllVisitorsResponse.php
  backend/app/Http/Controllers/Api/VisitorController.php
  backend/app/Http/Resources/VisitorResource.php
  backend/app/Http/Response/GetAllVisitorsResponse.php
  backend/app/Repositories/Contracts/VisitorRepository.php
  backend/routes/api.php
Labels: backend, enhancement

#31 fix toArray method in resources
  backend/app/Http/Resources/LoginResources.php
  backend/app/Http/Resources/UserResource.php
Labels: hotfix

#30 fix ApiResponse
  backend/app/Http/Response/ApiResponse.php
  backend/app/Response/ApiResponse.php
Labels: hotfix

#24 add me endpoint
  backend/app/Actions/Auth/GetAuthenticatedUserAction.php
  backend/app/Actions/Auth/GetCurrentUserAction.php
  backend/app/Actions/Auth/GetCurrentUserResponse.php
  backend/app/Http/Controllers/Api/Auth/AuthController.php
  backend/app/Http/Response/GetCurrentUserResponse.php
  backend/routes/api.php
Labels: backend

#27 fix http requests classes
  backend/app/Http/Requests/Api/LoginHttpRequest.php
  backend/app/Http/Requests/Api/RegisterHttpRequest.php
  backend/app/Http/Requests/Api/ResetPasswordHttpRequest.php
  backend/app/Http/Requests/Api/UpdateUserHttpRequest.php
  backend/app/Http/Requests/ApiFormRequest.php
  backend/app/Http/Requests/ResetPasswordHttpRequest.php
Labels: hotfix

#26 Fix/add endpoint for authentication users
  backend/app/Actions/Auth/AuthenticatedUserAction.php
  backend/app/Actions/Auth/AuthenticatedUserRequest.php
  backend/app/Actions/Auth/AuthenticationResponse.php
  backend/app/Actions/Auth/LoginAction.php
  backend/app/Exceptions/TokenCouldNotCreate.php
  backend/app/Http/Controllers/Api/Auth/AuthController.php
  backend/app/Http/Requests/Api/LoginHttpRequest.php
  backend/app/Http/Requests/AuthenticatedHttpRequest.php
  backend/app/Http/Resources/LoginResources.php
Labels: backend, bug

#33 added visitors page and route
  frontend/src/pages/Visitors.vue
  frontend/src/plugins/router.js
Labels: frontend

#14 add web browser storage service
  frontend/src/services/storage.js
Labels: frontend

#25 move register to auth controller
  backend/app/Http/Controllers/Api/Auth/AuthController.php
  backend/app/Http/Controllers/Auth/RegisterController.php
  backend/app/Http/Response/RegistrationResponse.php
  backend/routes/api.php
Labels: hotfix

#32 Test/add endpoint for authentication users
  backend/tests/Feature/UserAuthTest.php
Labels: backend

#38 fix UserByEmailNotFoundException
  backend/app/Exceptions/UserByEmailNotFoundException.php
Labels: hotfix

#39 added authPlugin for store
  frontend/src/store/index.js
  frontend/src/store/modules/auth/mutations.js
  frontend/src/store/modules/auth/types/mutations.js
  frontend/src/store/plugins.js
Labels: frontend

#47 fixed eslint errors
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/auth/SignUpForm.vue
  frontend/src/store/modules/auth/actions.js
  frontend/src/store/plugins.js
Labels: fix, frontend

#46 added endpoint for retrieving sessions
  backend/app/Actions/Sessions/GetAllSessionsAction.php
  backend/app/Actions/Sessions/GetAllSessionsResponse.php
  backend/app/Http/Controllers/Api/SessionController.php
  backend/app/Http/Resources/SessionResource.php
  backend/app/Http/Response/Sessions/GetAllSessionsResponse.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Repositories/Contracts/SessionRepository.php
  backend/app/Repositories/EloquentSessionRepository.php
  backend/routes/api.php
Labels: backend

#57 change message visibility
  backend/app/Exceptions/TokenCouldNotCreate.php
  backend/app/Exceptions/UserByEmailNotFoundException.php
  backend/app/Exceptions/UserNotFoundException.php
  backend/tests/Feature/UserAuthTest.php
Labels: hotfix

#41 Feature/add-reset-password-frontend
  backend/app/Exceptions/UserByEmailNotFoundException.php
  backend/app/Http/Controllers/Api/Auth/AuthController.php
  backend/app/Http/Controllers/Auth/RegisterController.php
  frontend/src/components/auth/ResetPasswordForm.vue
  frontend/src/pages/ResetPassword.vue
  frontend/src/plugins/router.js
  frontend/src/store/modules/auth/actions.js
  frontend/src/store/modules/auth/types/actions.js
Labels: frontend

#61 hotfix seeder
  backend/database/seeds/SystemTableSeeder.php
  backend/database/seeds/WebsiteTableSeeder.php
Labels: backend, hotfix

#62 hotfix seeder add fake domain unique and name timestamp
  backend/database/seeds/WebsiteTableSeeder.php
Labels: backend, hotfix

#42 Feature/add link register frontend with backend
  backend/app/Actions/User/RegisterRequest.php
  backend/app/Http/Controllers/Api/Auth/AuthController.php
  backend/app/Http/Requests/Api/RegisterHttpRequest.php
  backend/app/Http/Requests/Api/UpdateUserHttpRequest.php
  frontend/.env.example
  frontend/src/api/auth.js
  frontend/src/components/auth/SignUpForm.vue
  frontend/src/pages/SignUp.vue
  frontend/src/store/modules/auth/actions.js
  frontend/src/store/modules/auth/types/actions.js
Labels: frontend

#58 fix middleware assignment on routes
  backend/routes/api.php
Labels: hotfix

#63 fix unauthenticated requests
  backend/app/Exceptions/Handler.php
  backend/app/Exceptions/UnauthenticatedException.php
  backend/app/Http/Middleware/Authenticate.php
  frontend/src/store/modules/auth/actions.js
Labels: hotfix

#66 fix user registration
  backend/app/Actions/Auth/RegisterAction.php
  backend/app/Actions/Auth/RegisterRequest.php
  backend/app/Actions/Auth/RegisterResponse.php
  backend/app/Http/Controllers/Api/Auth/AuthController.php
  backend/app/Http/Controllers/Auth/RegisterController.php
Labels: hotfix

#64 make exception cases consistent
  backend/app/Actions/Auth/ResetPasswordResponse.php
  backend/app/Actions/Auth/SendResetPasswordLinkAction.php
  backend/app/Exceptions/ApiValidationException.php
  backend/app/Exceptions/Handler.php
  backend/app/Http/Controllers/Api/Auth/AuthController.php
  backend/app/Http/Controllers/Api/Auth/ResetPasswordController.php
  backend/app/Http/Resources/MessageResource.php
Labels: hotfix

#43 Add master for adding websites
  frontend/src/assets/running_man.jpg
  frontend/src/components/website/adding_master/StepAddDomain.vue
  frontend/src/components/website/adding_master/StepAddName.vue
  frontend/src/components/website/adding_master/StepTrackingInfo.vue
  frontend/src/components/website/adding_master/StepsProgressBar.vue
  frontend/src/pages/AddWebsitePage.vue
  frontend/src/plugins/router.js
  frontend/src/store/index.js
  frontend/src/store/modules/website/actions.js
  frontend/src/store/modules/website/getters.js
  frontend/src/store/modules/website/index.js
  frontend/src/store/modules/website/mutations.js
  frontend/src/store/modules/website/state.js
  frontend/src/store/modules/website/types/actions.js
  frontend/src/store/modules/website/types/getters.js
  frontend/src/store/modules/website/types/mutations.js
Labels: enhancement, frontend

#70 fix db layer
  backend/app/Entities/Os.php
  backend/app/Entities/Page.php
  backend/app/Entities/Session.php
  backend/app/Entities/System.php
  backend/app/Entities/Visitor.php
  backend/composer.json
  backend/composer.lock
  backend/database/factories/BrowserFactory.php
  backend/database/factories/DemographicFactory.php
  backend/database/factories/DeviceFactory.php
  backend/database/factories/GeoPositionFactory.php
  backend/database/factories/OsFactory.php
  backend/database/factories/PageFactory.php
  backend/database/factories/SessionFactory.php
  backend/database/factories/SystemFactory.php
  backend/database/factories/VisitFactory.php
  backend/database/factories/VisitorFactory.php
  backend/database/factories/WebsiteFactory.php
  backend/database/migrations/2019_08_11_103102_rename_session_table.php
  backend/database/migrations/2019_08_11_135813_add_referential_action_to_sessions_foreign_keys.php
  backend/database/migrations/2019_08_11_143526_rename_demographic_table.php
  backend/database/migrations/2019_08_11_143727_rename_demographic_geo_positions_id_foreign.php
  backend/database/migrations/2019_08_11_175732_make_sessions_end_session_nullable.php
  backend/database/seeds/DatabaseSeeder.php
  backend/database/seeds/DemographicTableSeeder.php
  backend/database/seeds/SessionTableSeeder.php
  backend/database/seeds/SystemTableSeeder.php
  backend/database/seeds/UserTableSeeder.php
  backend/database/seeds/VisitTableSeeder.php
  backend/database/seeds/WebsiteTableSeeder.php
Labels: hotfix

#59 Feature/add page to edit site information
  frontend/src/components/website/TrackWebsite.vue
  frontend/src/components/website/WebsiteForm.vue
  frontend/src/pages/WebsiteInfo.vue
  frontend/src/plugins/router.js
  frontend/src/store/index.js
  frontend/src/store/modules/website/actions.js
  frontend/src/store/modules/website/getters.js
  frontend/src/store/modules/website/index.js
  frontend/src/store/modules/website/mutations.js
  frontend/src/store/modules/website/state.js
  frontend/src/store/modules/website/types/actions.js
  frontend/src/store/modules/website/types/getters.js
  frontend/src/store/modules/website/types/mutations.js
Labels: frontend

#77 Feature/start page
  frontend/src/pages/Home.vue
Labels: fix

#71 Add visitors page button component
  frontend/public/assets/button_icons/clock.png
  frontend/public/assets/button_icons/eye.png
  frontend/public/assets/button_icons/peach_arrow.png
  frontend/public/assets/button_icons/person.png
  frontend/public/assets/button_icons/violet_arrow.png
  frontend/public/assets/button_icons/yellow_arrow.png
  frontend/src/components/dashboard/visitors/ButtonComponent.vue
Labels: enhancement, frontend

#69 fixed login form styles
  frontend/src/components/auth/LoginForm.vue
Labels: fix, frontend

#80 Add active visitors card element
  frontend/src/components/dashboard/home/ActiveVisitorsCard.vue
Labels: frontend

#81 Feature/line chart component
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/icons/arrow-up.svg
  frontend/src/components/common/LineChart.vue
Labels: frontend

#82 Feature/add auth by update page
  backend/app/Actions/Auth/GetCurrentUserAction.php
  frontend/src/components/auth/LoginGuard.vue
  frontend/src/components/auth/Spinner.vue
  frontend/src/store/modules/auth/actions.js
  frontend/src/store/modules/auth/mutations.js
  frontend/src/store/modules/auth/state.js
  frontend/src/store/modules/auth/types/actions.js
Labels: frontend

#86 Update SignUpForm.vue
  frontend/src/components/auth/SignUpForm.vue
Labels: fix, frontend

#44 Feature/add edit user page
  frontend/src/api/users.js
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/auth/SignUpForm.vue
  frontend/src/components/auth/UpdateProfileForm.vue
  frontend/src/main.js
  frontend/src/pages/UpdateProfile.vue
  frontend/src/plugins/router.js
  frontend/src/services/validation.js
  frontend/src/store/modules/auth/actions.js
  frontend/src/store/modules/auth/mutations.js
  frontend/src/store/modules/auth/state.js
  frontend/src/store/modules/auth/types/actions.js
  frontend/src/store/modules/auth/types/getters.js
  frontend/src/store/modules/auth/types/mutations.js
Labels: frontend

#91 change start page image
  frontend/public/assets/images/home.png
  frontend/src/pages/Home.vue
Labels: fix, frontend

#89 Feature/add new visitors count endpoint
  backend/app/Actions/Visitors/GetNewestCountAction.php
  backend/app/Actions/Visitors/GetNewestCountRequest.php
  backend/app/Actions/Visitors/GetNewestCountResponse.php
  backend/app/Contracts/Common/DatePeriod.php
  backend/app/Contracts/Visitors/NewVisitorsCountFilterData.php
  backend/app/Exceptions/AppException.php
  backend/app/Exceptions/AppInvalidArgumentException.php
  backend/app/Http/Controllers/Api/VisitorController.php
  backend/app/Http/Requests/Visitors/AbstractVisitorsFilterHttpRequest.php
  backend/app/Http/Requests/Visitors/GetNewVisitorCountFilterHttpHttpRequest.php
  backend/app/Http/Resources/VisitorCountResource.php
  backend/app/Model/Visitors/NewVisitorsCountFilterData.php
  backend/app/Repositories/Contracts/VisitorRepository.php
  backend/app/Repositories/EloquentVisitorRepository.php
  backend/app/Utils/DatePeriod.php
  backend/database/factories/VisitorFactory.php
  backend/routes/api.php
  backend/tests/Feature/VisitorsApiTest.php
Labels: backend

#90 move HttpRequests to Api folder
  backend/app/Actions/Auth/AuthenticatedUserRequest.php
  backend/app/Actions/Website/AddWebsiteRequest.php
  backend/app/Http/Controllers/Api/Auth/AuthController.php
  backend/app/Http/Controllers/Api/WebsiteController.php
  backend/app/Http/Requests/Api/AddWebsiteHttpRequest.php
  backend/app/Http/Requests/Api/AuthenticatedHttpRequest.php
  backend/app/Http/Requests/Api/EditWebsiteHttpRequest.php
Labels: hotfix

#78 Add website adding master guard
  backend/app/Actions/Website/GetCurrentUserWebsiteAction.php
  backend/app/Actions/Website/GetCurrentUserWebsiteResponse.php
  backend/app/Entities/User.php
  backend/app/Entities/Website.php
  backend/app/Exceptions/UserWebsiteNotFoundException.php
  backend/app/Http/Controllers/Api/WebsiteController.php
  backend/routes/api.php
  frontend/src/api/website.js
  frontend/src/components/auth/LoginGuard.vue
  frontend/src/components/utilites/Spinner.vue
  frontend/src/components/website/TrackWebsite.vue
  frontend/src/components/website/WebsiteGuard.vue
  frontend/src/pages/AddWebsitePage.vue
  frontend/src/pages/WebsiteInfo.vue
  frontend/src/plugins/router.js
  frontend/src/store/modules/auth/actions.js
  frontend/src/store/modules/website/actions.js
  frontend/src/store/modules/website/getters.js
  frontend/src/store/modules/website/mutations.js
  frontend/src/store/modules/website/state.js
  frontend/src/store/modules/website/types/actions.js
  frontend/src/store/modules/website/types/getters.js
  frontend/src/store/modules/website/types/mutations.js
Labels: backend, frontend

#88 add notification module
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/auth/ResetPasswordForm.vue
  frontend/src/components/auth/SignUpForm.vue
  frontend/src/components/common/Notification.vue
  frontend/src/pages/Layout.vue
  frontend/src/store/index.js
  frontend/src/store/modules/notification/actions.js
  frontend/src/store/modules/notification/getters.js
  frontend/src/store/modules/notification/index.js
  frontend/src/store/modules/notification/mutations.js
  frontend/src/store/modules/notification/state.js
  frontend/src/store/modules/notification/types/actions.js
  frontend/src/store/modules/notification/types/getters.js
  frontend/src/store/modules/notification/types/mutations.js
Labels: frontend

#100 fix guard
  frontend/src/pages/Login.vue
Labels: fix, frontend

#104 Fix logo redirect
  frontend/src/components/layout/header/TopNavbar.vue
Labels: hotfix

#107 fix api url
  frontend/src/api/website.js
Labels: hotfix

#109 Change request method
  frontend/src/api/website.js
Labels: hotfix

#110 Fix/change photo sophii on placeholder
  frontend/public/assets/images/avatar.png
  frontend/public/assets/images/lady.png
  frontend/src/components/layout/header/UserControls.vue
Labels: hotfix

#113 add favicon and title
  frontend/public/favicon.ico
  frontend/public/index.html
Labels: frontend

#72 add endpoint for calculating bounce rate
  backend/app/Actions/Visitors/GetBounceRateAction.php
  backend/app/Actions/Visitors/GetBounceRateRequest.php
  backend/app/Actions/Visitors/GetBounceRateResponse.php
  backend/app/Entities/Session.php
  backend/app/Entities/Visitor.php
  backend/app/Http/Controllers/Api/VisitorController.php
  backend/app/Http/Requests/Api/GetBounceRateHttpRequest.php
  backend/app/Http/Resources/BounceRateResource.php
  backend/app/Repositories/Contracts/VisitorRepository.php
  backend/app/Repositories/EloquentVisitorRepository.php
  backend/app/Rules/Timestamp.php
  backend/app/Rules/TimestampAfter.php
  backend/routes/api.php
  backend/tests/Feature/VisitorsApiTest.php
Labels: backend

#118 Fix/add links sidebar topnav
  frontend/src/components/layout/Sidepanel.vue
  frontend/src/components/layout/header/TopNavbar.vue
Labels: fix, frontend

#120 remove slash
  frontend/src/api/website.js
Labels: bug, hotfix

#119 fix UserWebsiteNotFoundException import
  backend/app/Actions/Website/GetCurrentUserWebsiteAction.php
Labels: hotfix

#122 Fix sidebar navigation routes
  frontend/src/components/layout/Default.vue
  frontend/src/components/layout/Sidepanel.vue
  frontend/src/pages/Visitors.vue
  frontend/src/plugins/router.js
Labels: fix, frontend

#121 Fix/login validation
  frontend/src/components/auth/LoginForm.vue
  frontend/src/store/modules/auth/actions.js
Labels: frontend, hotfix

#126 remove label
  frontend/src/components/auth/LoginForm.vue
Labels: fix, frontend

#114 Add notification after successful registration
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/auth/SignUpForm.vue
  frontend/src/store/modules/auth/actions.js
  frontend/src/store/modules/auth/types/actions.js
Labels: frontend, hotfix

#132 Fix/login validation
  backend/app/Actions/Auth/AuthenticatedUserAction.php
  backend/app/Exceptions/UnauthenticatedException.php
  backend/app/Http/Requests/Api/AuthenticatedHttpRequest.php
  backend/tests/Feature/UserAuthTest.php
Labels: backend, fix

#127 Fix/reset password page and add link with backend
  backend/app/Actions/Auth/ResetPasswordResponse.php
  backend/app/Actions/Auth/SendResetPasswordLinkAction.php
  backend/app/Exceptions/UserByEmailNotFoundException.php
  frontend/src/api/auth.js
  frontend/src/components/auth/ResetPasswordForm.vue
  frontend/src/store/modules/auth/actions.js
Labels: fix, frontend

#140 merge os browsers devices into systems
  backend/app/Entities/Browser.php
  backend/app/Entities/Demographic.php
  backend/app/Entities/Device.php
  backend/app/Entities/GeoPosition.php
  backend/app/Entities/Os.php
  backend/app/Entities/Page.php
  backend/app/Entities/Session.php
  backend/app/Entities/System.php
  backend/app/Entities/Visit.php
  backend/app/Entities/Visitor.php
  backend/app/Entities/Website.php
  backend/database/factories/BrowserFactory.php
  backend/database/factories/DeviceFactory.php
  backend/database/factories/OsFactory.php
  backend/database/factories/SessionFactory.php
  backend/database/factories/SystemFactory.php
  backend/database/factories/VisitFactory.php
  backend/database/migrations/2019_08_16_210907_merge_browsers_os_devices_into_systems.php
  backend/database/seeds/BrowserTableSeeder.php
  backend/database/seeds/DatabaseSeeder.php
  backend/database/seeds/DeviceTableSeeder.php
  backend/database/seeds/OsTableSeeder.php
  backend/database/seeds/SystemTableSeeder.php
  backend/tests/Feature/VisitorsApiTest.php
Labels: backend, fix

#141 add general requests for charts, tables and buttons
  backend/app/Actions/ButtonDataRequest.php
  backend/app/Actions/ChartDataRequest.php
  backend/app/Actions/TableDataRequest.php
  backend/app/Actions/Visitors/GetNewestCountRequest.php
  backend/app/Http/Controllers/Api/VisitorController.php
  backend/app/Http/Requests/Api/GetNewVisitorCountFilterHttpRequest.php
  backend/app/Http/Requests/Visitors/AbstractVisitorsFilterHttpRequest.php
  backend/app/Http/Requests/Visitors/GetNewVisitorCountFilterHttpHttpRequest.php
  backend/app/Utils/DatePeriod.php
  backend/tests/Feature/VisitorsApiTest.php
Labels: backend, proposal

#97 Feature/data format page views
  backend/app/Actions/Visits/GetPageViewsAction.php
  backend/app/Actions/Visits/GetPageViewsRequest.php
  backend/app/Actions/Visits/GetPageViewsResponse.php
  backend/app/DataTransformer/Visits/ChartVisit.php
  backend/app/Entities/Visit.php
  backend/app/Http/Controllers/Api/VisitController.php
  backend/app/Http/Requests/Api/GetPageViewsFilterHttpRequest.php
  backend/app/Http/Resources/VisitResource.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Repositories/Contracts/ChartVisitRepository.php
  backend/app/Repositories/Contracts/VisitRepository.php
  backend/app/Repositories/EloquentChartVisitRepository.php
  backend/app/Repositories/EloquentVisitRepository.php
  backend/routes/api.php
  backend/tests/Feature/PageViewsApiTest.php
  backend/tests/Feature/VisitsApiTest.php
Labels: backend

#98 Add endpoint to get visitors by params
  backend/app/Actions/Visitors/GetAllVisitorsAction.php
  backend/app/Actions/Visitors/GetVisitorsByParameterAction.php
  backend/app/Actions/Visitors/GetVisitorsByParameterRequest.php
  backend/app/Actions/Visitors/GetVisitorsByParameterResponse.php
  backend/app/Entities/Demographic.php
  backend/app/Entities/Session.php
  backend/app/Entities/Website.php
  backend/app/Http/Controllers/Api/VisitorController.php
  backend/app/Http/Requests/Api/GetTableVisitorsByParameterHttpRequest.php
  backend/app/Http/Resources/TableVisitorsResourse.php
  backend/app/Http/Resources/TableVisitorsResourseCollection.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Repositories/Contracts/TableVisitorsRepository.php
  backend/app/Repositories/EloquentTableVisitorsRepository.php
  backend/database/factories/DemographicFactory.php
  backend/database/factories/LanguageFactory.php
  backend/database/factories/SessionFactory.php
  backend/database/factories/VisitFactory.php
  backend/database/migrations/2019_08_14_183118_change_sessions_table.php
  backend/database/migrations/2019_08_14_184421_change_visits_table_add_geo_location.php
  backend/database/migrations/2019_08_14_191440_delete_demographics_table.php
  backend/database/seeds/DatabaseSeeder.php
  backend/database/seeds/DemographicTableSeeder.php
  backend/routes/api.php
  backend/tests/Feature/TableVisitorsApiTest.php
  backend/tests/Feature/VisitorsApiTest.php
  backend/tests/Feature/VisitsApiTest.php
  backend/tests/TestDataFactory.php
Labels: backend

#99 Feature/add endpoint for ratrieving new visitors by date range
  backend/app/Actions/Visitors/GetNewChartVisitorsByDateRangeAction.php
  backend/app/Actions/Visitors/GetNewChartVisitorsByDateRangeRequest.php
  backend/app/Actions/Visitors/GetNewChartVisitorsByDateRangeResponse.php
  backend/app/DataTransformer/Visitors/ChartNewVisitor.php
  backend/app/Http/Controllers/Api/VisitorController.php
  backend/app/Http/Requests/Api/GetNewChartVisitorsHttpRequest.php
  backend/app/Http/Resources/ChartNewVisitorResource.php
  backend/app/Http/Resources/ChartNewVisitorResourceCollection.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Repositories/Contracts/ChartVisitorsRepository.php
  backend/app/Repositories/EloquentChartVisitorsRepository.php
  backend/routes/api.php
  backend/tests/Feature/ChartVisitorsApiTest.php
Labels: backend

#158 Add button components and chart box-shadow
  frontend/src/assets/button_icons/clock.png
  frontend/src/assets/button_icons/eye.png
  frontend/src/assets/button_icons/peach_arrow.png
  frontend/src/assets/button_icons/person.png
  frontend/src/assets/button_icons/violet_arrow.png
  frontend/src/assets/button_icons/yellow_arrow.png
  frontend/src/components/dashboard/visitors/ButtonComponent.vue
  frontend/src/pages/Visitors.vue
Labels: fix, frontend

#125 Feature/singin page design
  frontend/src/components/auth/LoginForm.vue
  frontend/src/pages/Login.vue
Labels: frontend

#160 Remove second password reset link in login form
  frontend/src/components/auth/LoginForm.vue
Labels: frontend, hotfix

#161 fix finally catch
  frontend/src/components/auth/LoginForm.vue
Labels: frontend, hotfix

#162 fix styles on login,register, add padding and change input styles
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/dashboard/visitors/UsersTable.vue
  frontend/src/components/layout/Default.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/SignUp.vue
  frontend/src/pages/Visitors.vue
Labels: hotfix

#163 add nullable
  backend/database/migrations/2019_08_14_183118_change_sessions_table.php
  backend/database/migrations/2019_08_16_210907_merge_browsers_os_devices_into_systems.php
Labels: hotfix

#153 add get avg session time by parameter endpoint
  backend/app/Actions/Sessions/GetAvgSessionTimeByParameterAction.php
  backend/app/Actions/Sessions/GetAvgSessionTimeByParameterRequest.php
  backend/app/Actions/Sessions/GetAvgSessionTimeByParameterResponse.php
  backend/app/Actions/Visitors/GetBounceRateAction.php
  backend/app/Actions/Visitors/GetBounceRateRequest.php
  backend/app/DataTransformer/Sessions/TableSession.php
  backend/app/Entities/Session.php
  backend/app/Http/Controllers/Api/SessionController.php
  backend/app/Http/Requests/Api/GetAvgSessionsTimeByParameterHttpRequest.php
  backend/app/Http/Resources/TableSessionResource.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Repositories/Contracts/TableSessionRepository.php
  backend/app/Repositories/Contracts/VisitorRepository.php
  backend/app/Repositories/EloquentTableSessionRepository.php
  backend/app/Repositories/EloquentVisitorRepository.php
  backend/app/Rules/Parameter.php
  backend/database/factories/SessionFactory.php
  backend/routes/api.php
  backend/tests/Feature/SessionsApiTest.php
Labels: backend

#156 add general api resources for charts, tables and buttons
  backend/app/Contracts/ButtonValue.php
  backend/app/Contracts/ChartValue.php
  backend/app/Contracts/TableValue.php
  backend/app/DataTransformer/ButtonValue.php
  backend/app/DataTransformer/ChartValue.php
  backend/app/DataTransformer/TableValue.php
  backend/app/DataTransformer/Traits/ButtonValueTrait.php
  backend/app/DataTransformer/Traits/ChartValueTrait.php
  backend/app/DataTransformer/Traits/TableValueTrait.php
  backend/app/Http/Resources/ButtonResource.php
  backend/app/Http/Resources/ChartResource.php
  backend/app/Http/Resources/TableResource.php
Labels: backend, proposal

#170 set web site name restriction to not empty
  frontend/src/components/website/WebsiteForm.vue
  frontend/src/components/website/adding_master/StepAddName.vue
Labels: frontend

#137 Feature/add visitors bounce rate by range
  backend/app/Actions/Visitors/BounceRateAction.php
  backend/app/Actions/Visitors/BounceRateRequest.php
  backend/app/Actions/Visitors/BounceRateResponse.php
  backend/app/Contracts/Common/DateTimeFrame.php
  backend/app/Contracts/Visitors/VisitorsBounceRateFilterData.php
  backend/app/Entities/Visitor.php
  backend/app/Http/Controllers/Api/VisitorController.php
  backend/app/Http/Requests/Api/GetVisitorsBounceRateHttpRequest.php
  backend/app/Model/Visitors/VisitorsBounceRateFilterData.php
  backend/app/Repositories/Contracts/ChartVisitorsRepository.php
  backend/app/Repositories/EloquentChartVisitorsRepository.php
  backend/app/Repositories/EloquentVisitorRepository.php
  backend/routes/api.php
  backend/tests/Feature/VisitorsApiTest.php
Labels: backend

#171 fix line chart tooltip
  frontend/src/components/common/LineChart.vue
Labels: fix, frontend

#108 mock router push error catch to empty function in global context
  frontend/src/plugins/router.js
Labels: fix, frontend

#83 added pie chart component
  frontend/src/components/common/PieChart.vue
  frontend/src/pages/Visitors.vue
  frontend/src/scss/main.scss
Labels: frontend

#165 Feature/add endpoint for count of visitors
  backend/app/Actions/Visitors/GetButtonCountVisitorsAction.php
  backend/app/Actions/Visitors/GetButtonCountVisitorsRequest.php
  backend/app/Http/Controllers/Api/VisitorController.php
  backend/app/Http/Requests/Api/GetButtonCountVisitorsHttpRequest.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Repositories/Contracts/ButtonVisitorsRepository.php
  backend/app/Repositories/EloquentButtonVisitorsRepository.php
  backend/database/factories/VisitorFactory.php
  backend/database/migrations/2019_08_19_123845_change_visitors_table_add_last_activity.php
  backend/routes/api.php
  backend/tests/Feature/ButtonVisitorsApiTest.php
Labels: backend

#179 Changing the logic of guards
  frontend/src/components/auth/LoginGuard.vue
  frontend/src/components/layout/Default.vue
  frontend/src/components/layout/header/UserControls.vue
  frontend/src/components/website/WebsiteForm.vue
  frontend/src/components/website/WebsiteGuard.vue
  frontend/src/mixins/isCurrentUser.js
  frontend/src/mixins/isWebsite.js
  frontend/src/pages/AddWebsitePage.vue
  frontend/src/pages/Home.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/ResetPassword.vue
  frontend/src/pages/SignUp.vue
  frontend/src/pages/UpdateProfile.vue
  frontend/src/pages/UserDataProviderPage.vue
  frontend/src/pages/Visitors.vue
  frontend/src/pages/WebsiteDataProvider.vue
  frontend/src/plugins/router.js
  frontend/src/store/modules/website/actions.js
  frontend/src/store/modules/website/mutations.js
  frontend/src/store/modules/website/state.js
  frontend/src/store/modules/website/types/actions.js
  frontend/src/store/modules/website/types/mutations.js
Labels: frontend

#186 Change login button to link on Signup page
  frontend/src/components/auth/SignUpForm.vue
Labels: fix, frontend

#187 Make from usersTable GroupedTable, more reusable component
  frontend/src/components/dashboard/visitors/GroupedTable.vue
  frontend/src/pages/Visitors.vue
Labels: frontend, hotfix, urgent

#176 Feature/add period dropdown on the page visitors
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/dashboard/visitors/PeriodDropdown.vue
  frontend/src/pages/Visitors.vue
  frontend/src/store/index.js
  frontend/src/store/modules/visitors/actions.js
  frontend/src/store/modules/visitors/getters.js
  frontend/src/store/modules/visitors/index.js
  frontend/src/store/modules/visitors/mutations.js
  frontend/src/store/modules/visitors/state.js
  frontend/src/store/modules/visitors/types/actions.js
  frontend/src/store/modules/visitors/types/getters.js
  frontend/src/store/modules/visitors/types/mutations.js
Labels: frontend

#168 fix/style-css
  frontend/src/components/auth/UpdateProfileForm.vue
  frontend/src/components/layout/ContentLayout.vue
  frontend/src/components/layout/Default.vue
  frontend/src/components/website/WebsiteForm.vue
  frontend/src/pages/AddWebsitePage.vue
  frontend/src/pages/Layout.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/SignUp.vue
  frontend/src/pages/Visitors.vue
  frontend/src/scss/main.scss
Labels: fix, frontend

#181 Feature/returns count of page views
  backend/app/Actions/Visits/GetPageViewsCountAction.php
  backend/app/Actions/Visits/GetPageViewsCountRequest.php
  backend/app/Actions/Visits/GetPageViewsCountResponse.php
  backend/app/Entities/Visit.php
  backend/app/Http/Controllers/Api/VisitController.php
  backend/app/Http/Requests/Api/GetPageViewsCountFilterHttpRequest.php
  backend/app/Http/Resources/VisitCountResource.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Repositories/Contracts/ButtonDataPageViews.php
  backend/app/Repositories/EloquentButtonDataPageViews.php
  backend/config/app.php
  backend/routes/api.php
  backend/tests/Feature/CountPageViewTest.php
Labels: backend

#188 add button_types config file
  backend/tests/Feature/ButtonVisitorsApiTest.php
  backend/tests/Feature/UserAuthTest.php
  frontend/src/configs/visitors/buttonTypes.js
Labels: frontend

#178 Feature/add endpoint for displaying sessions
  backend/app/Actions/Sessions/GetSessionsAction.php
  backend/app/Actions/Sessions/GetSessionsRequest.php
  backend/app/Actions/Sessions/GetSessionsResponse.php
  backend/app/DataTransformer/Sessions/ChartSessionValue.php
  backend/app/Entities/Session.php
  backend/app/Http/Controllers/Api/SessionController.php
  backend/app/Http/Requests/Api/GetSessionsFilterHttpRequest.php
  backend/app/Providers/AppServiceProvider.php
  backend/app/Repositories/Contracts/ChartSessionsRepository.php
  backend/app/Repositories/EloquentChartSessionsRepository.php
  backend/database/factories/SessionFactory.php
  backend/database/migrations/2019_08_14_184654_add_website_id_to_sessions.php
  backend/routes/api.php
  backend/tests/Feature/ChartSessionsApiTest.php
Labels: backend

#197 Fix/change response get new visitors count for filter data action
  backend/app/Actions/Visitors/GetNewestCountAction.php
  backend/app/Actions/Visitors/GetNewestCountResponse.php
  backend/app/Http/Controllers/Api/VisitorController.php
  backend/app/Http/Resources/VisitorCountResource.php
  backend/app/Repositories/Contracts/VisitorRepository.php
  backend/app/Repositories/EloquentVisitorRepository.php
  backend/tests/Feature/VisitorsApiTest.php
Labels: backend, bug, hotfix

#195 fix response
  backend/app/DataTransformer/Visitors/ChartNewVisitor.php
  backend/app/Http/Resources/ChartNewVisitorResource.php
  backend/tests/Feature/ChartVisitorsApiTest.php
Labels: backend, hotfix

#192 Link visitors buttons width state
  frontend/src/components/dashboard/visitors/ButtonComponent.vue
  frontend/src/pages/Visitors.vue
  frontend/src/store/modules/visitors/actions.js
  frontend/src/store/modules/visitors/getters.js
  frontend/src/store/modules/visitors/mutations.js
  frontend/src/store/modules/visitors/state.js
  frontend/src/store/modules/visitors/types/actions.js
  frontend/src/store/modules/visitors/types/getters.js
  frontend/src/store/modules/visitors/types/mutations.js
Labels: enhancement, frontend

#193 Feature/add period service
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dashboard/visitors/PeriodDropdown.vue
  frontend/src/services/periodService.js
Labels: frontend

#200 edit Spinner
  frontend/src/components/dashboard/visitors/ButtonComponent.vue
  frontend/src/components/utilites/Spinner.vue
Labels: fix, frontend

#201 add "pieChartData" to vuex modules
  frontend/src/components/common/PieChart.vue
  frontend/src/pages/Visitors.vue
  frontend/src/store/modules/visitors/getters.js
  frontend/src/store/modules/visitors/state.js
  frontend/src/store/modules/visitors/types/getters.js
Labels: frontend

#202 fix typehint in ChartResource and TableResource
  backend/app/Http/Resources/ChartResource.php
  backend/app/Http/Resources/TableResource.php
Labels: backend, hotfix

#204 Feature/add api services
  backend/app/Actions/Sessions/CountSessionsAction.php
  backend/app/Actions/Sessions/CountSessionsResponse.php
  backend/app/Actions/Sessions/GetAvgSessionAction.php
  backend/app/Actions/Sessions/GetAvgSessionResponse.php
  backend/app/Actions/Visitors/GetBounceRateAction.php
  backend/app/Actions/Visits/GetPageViewsCountAction.php
  backend/app/DataTransformer/Visitors/ChartNewVisitor.php
  backend/app/DataTransformer/Visits/ChartVisit.php
  backend/app/Http/Controllers/Api/SessionController.php
  backend/app/Http/Controllers/Api/VisitController.php
  backend/app/Http/Resources/AvgSession.php
  backend/app/Http/Resources/CountSessions.php
  backend/app/Http/Resources/VisitResource.php
  backend/tests/Feature/CountPageViewTest.php
  backend/tests/Feature/CountSessionsTest.php
  backend/tests/Feature/GetAvgSessionTest.php
  backend/tests/Feature/TableVisitsApiTest.php
  backend/tests/Feature/VisitsApiTest.php
  frontend/src/services/visitors/averageSessionsService.js
  frontend/src/services/visitors/bounceRateService.js
  frontend/src/services/visitors/factoryVisitorsService.js
  frontend/src/services/visitors/newVisitorsService.js
  frontend/src/services/visitors/sessionsService.js
  frontend/src/services/visitors/totalVisitorsService.js
  frontend/src/services/visitors/transformers.js
  frontend/src/services/visitors/visitsService.js
Labels: frontend

#205 Feature/link linechart with vuex state
  frontend/src/components/common/LineChart.vue
  frontend/src/pages/Visitors.vue
  frontend/src/store/modules/visitors/getters.js
  frontend/src/store/modules/visitors/state.js
  frontend/src/store/modules/visitors/types/getters.js
Labels: frontend

#211 change redirect link from home to dashboard
  frontend/src/pages/SocialAuthPage.vue
Labels: frontend, hotfix

#209 edit pie chart data
  frontend/src/components/common/PieChart.vue
  frontend/src/pages/Visitors.vue
  frontend/src/store/modules/visitors/state.js
Labels: frontend, hotfix

#215 edit variable in period service
  frontend/src/services/periodService.js
Labels: frontend, hotfix

#214 Link visitors table to state
  frontend/src/components/dashboard/visitors/GroupedTable.vue
  frontend/src/components/dashboard/visitors/VisitorsTable.vue
  frontend/src/components/dashboard/visitors/visitorsHashMap.js
  frontend/src/pages/Visitors.vue
  frontend/src/store/modules/visitors/actions.js
  frontend/src/store/modules/visitors/getters.js
  frontend/src/store/modules/visitors/mutations.js
  frontend/src/store/modules/visitors/state.js
  frontend/src/store/modules/visitors/types/actions.js
  frontend/src/store/modules/visitors/types/getters.js
  frontend/src/store/modules/visitors/types/mutations.js
Labels: frontend

#208 Fix/replace visitors services to api directory
  frontend/src/api/visitors/averageSessionsService.js
  frontend/src/api/visitors/bounceRateService.js
  frontend/src/api/visitors/factoryVisitorsService.js
  frontend/src/api/visitors/newVisitorsService.js
  frontend/src/api/visitors/sessionsService.js
  frontend/src/api/visitors/totalVisitorsService.js
  frontend/src/api/visitors/transformers.js
  frontend/src/api/visitors/visitsService.js
Labels: fix, frontend

#216 fix error response
  frontend/src/api/visitors/averageSessionsService.js
  frontend/src/api/visitors/bounceRateService.js
  frontend/src/api/visitors/newVisitorsService.js
  frontend/src/api/visitors/sessionsService.js
  frontend/src/api/visitors/totalVisitorsService.js
  frontend/src/api/visitors/visitsService.js
Labels: frontend, hotfix

#217 Fix chartData to array
  frontend/src/components/common/LineChart.vue
  frontend/src/pages/Visitors.vue
Labels: frontend, hotfix

#219 fix export data in api visitors
  frontend/src/api/visitors/averageSessionsService.js
  frontend/src/api/visitors/bounceRateService.js
  frontend/src/api/visitors/factoryVisitorsService.js
  frontend/src/api/visitors/newVisitorsService.js
  frontend/src/api/visitors/sessionsService.js
  frontend/src/api/visitors/totalVisitorsService.js
  frontend/src/api/visitors/visitsService.js
Labels: fix, frontend

#221 fix return data in period service
  frontend/src/services/periodService.js
Labels: fix, frontend

#220 fix services for table
  frontend/src/api/visitors/bounceRateService.js
  frontend/src/api/visitors/newVisitorsService.js
  frontend/src/api/visitors/totalVisitorsService.js
Labels: backend, hotfix

#224 fix route for fetchTableValues in newVisitorsService
  frontend/src/api/visitors/factoryVisitorsService.js
  frontend/src/api/visitors/newVisitorsService.js
Labels: frontend, hotfix

#223 Fix/change response of bounce rate button
  backend/app/Actions/Visitors/GetBounceRateAction.php
  backend/app/Http/Controllers/Api/VisitorController.php
  backend/app/Http/Resources/BounceRateResource.php
  backend/tests/Feature/VisitorsApiTest.php
Labels: backend, hotfix

#225 Feature/action retrieving piechartdata
  frontend/src/pages/Visitors.vue
  frontend/src/store/modules/visitors/actions.js
  frontend/src/store/modules/visitors/mutations.js
  frontend/src/store/modules/visitors/state.js
  frontend/src/store/modules/visitors/types/actions.js
  frontend/src/store/modules/visitors/types/mutations.js
Labels: frontend

#233 Fix/login form
  frontend/src/components/auth/LoginForm.vue
Labels: fix, frontend

#218 Feature/add action for retrieving chartdata
  frontend/src/store/modules/visitors/actions.js
  frontend/src/store/modules/visitors/getters.js
  frontend/src/store/modules/visitors/mutations.js
  frontend/src/store/modules/visitors/types/actions.js
  frontend/src/store/modules/visitors/types/getters.js
  frontend/src/store/modules/visitors/types/mutations.js
Labels: enhancement, frontend

#230 fix update user action
  backend/app/Actions/User/UpdateUserAction.php
  backend/app/Actions/User/UpdateUserRequest.php
Labels: frontend, hotfix

#241 add geo location table component
  frontend/src/components/dashboard/geo_location/GroupedTable.vue
  frontend/src/components/layout/Sidepanel.vue
  frontend/src/pages/GeoLocationPage.vue
  frontend/src/plugins/router.js
Labels: frontend

#238 Feature/add email confirmation after registration
  backend/app/Actions/Auth/AuthenticatedUserAction.php
  backend/app/Actions/Auth/ConfirmEmailAction.php
  backend/app/Actions/Auth/ConfirmEmailRequest.php
  backend/app/Actions/Auth/ConfirmEmailResponse.php
  backend/app/Actions/Auth/RegisterAction.php
  backend/app/Actions/Auth/RegisterResponse.php
  backend/app/Console/Kernel.php
  backend/app/Entities/User.php
  backend/app/Exceptions/UserActivatedException.php
  backend/app/Http/Controllers/Api/Auth/AuthController.php
  backend/app/Http/Controllers/Api/Auth/ResetPasswordController.php
  backend/app/Http/Requests/Api/ConfirmEmailHttpRequest.php
  backend/app/Http/Resources/EmailResource.php
  backend/app/Notifications/MailSuccessRegistrationNotification.php
  backend/app/Repositories/Contracts/UserRepository.php
  backend/app/Repositories/EloquentUserRepository.php
  backend/database/factories/UserFactory.php
  backend/database/migrations/2019_08_23_161441_add_is_activate_to_users_table.php
  backend/routes/api.php
  frontend/src/api/auth.js
  frontend/src/components/auth/SignUpForm.vue
  frontend/src/components/auth/VerifyEmail.vue
  frontend/src/plugins/router.js
  frontend/src/services/jwtService.js
  frontend/src/store/modules/auth/actions.js
Labels: backend, frontend

#247 Add mapChart and map buttons on Geo Location page
  frontend/.env.example
  frontend/src/components/dashboard/geo_location/ButtonComponent.vue
  frontend/src/components/dashboard/geo_location/MapButtons.vue
  frontend/src/components/dashboard/geo_location/MapChart.vue
  frontend/src/config.js
  frontend/src/pages/GeoLocationPage.vue
  frontend/src/store/index.js
  frontend/src/store/modules/geo_location/actions.js
  frontend/src/store/modules/geo_location/getters.js
  frontend/src/store/modules/geo_location/index.js
  frontend/src/store/modules/geo_location/mutations.js
  frontend/src/store/modules/geo_location/state.js
  frontend/src/store/modules/geo_location/types/actions.js
  frontend/src/store/modules/geo_location/types/getters.js
  frontend/src/store/modules/geo_location/types/mutations.js
Labels: frontend

#248 Fix responsive table, PieChart and Buttons on visitors page
  frontend/src/components/common/PieChart.vue
  frontend/src/components/dashboard/common/ButtonComponent.vue
  frontend/src/pages/Visitors.vue
Labels: fix, frontend

#245 add module dashboard, activity component
  frontend/src/components/dashboard/home/ActiveVisitorsCard.vue
  frontend/src/components/dashboard/home/TopActivePage.vue
  frontend/src/pages/Dashboard.vue
  frontend/src/store/index.js
  frontend/src/store/modules/dashboard/actions.js
  frontend/src/store/modules/dashboard/getters.js
  frontend/src/store/modules/dashboard/index.js
  frontend/src/store/modules/dashboard/mutations.js
  frontend/src/store/modules/dashboard/state.js
  frontend/src/store/modules/dashboard/types/actions.js
  frontend/src/store/modules/dashboard/types/getters.js
  frontend/src/store/modules/dashboard/types/mutations.js
Labels: frontend

#250 edit method top pages
  frontend/src/components/dashboard/home/ActiveVisitorsCard.vue
Labels: fix, frontend

#251 add actions for count visitors
  backend/app/Actions/GeoLocation/GetGeoLocationItemsAction.php
  backend/app/Actions/GeoLocation/GetGeoLocationItemsRequest.php
  backend/app/Actions/GeoLocation/GetGeoLocationItemsResponse.php
  backend/app/DataTransformer/GeoLocation/GeoLocationItem.php
  backend/app/Entities/User.php
  backend/app/Http/Controllers/Api/GeoLocationController.php
  backend/app/Http/Requests/GeoLocation/GeoLocationHttpRequest.php
  backend/app/Http/Resources/GeoLocationResource.php
  backend/app/Repositories/Contracts/VisitorRepository.php
  backend/app/Repositories/EloquentVisitorRepository.php
  backend/routes/api.php
  backend/tests/Feature/GeoLocationApiTest.php
Labels: backend

#255 add action for count avg session time
  backend/app/Actions/GeoLocation/GetGeoLocationItemsAction.php
  backend/app/DataTransformer/GeoLocation/GeoLocationItem.php
  backend/app/Entities/Session.php
  backend/app/Repositories/Contracts/SessionRepository.php
  backend/app/Repositories/EloquentSessionRepository.php
  backend/database/factories/SessionFactory.php
  backend/database/factories/VisitFactory.php
Labels: backend

#254 Feature/add echo service
  frontend/.env.example
  frontend/src/config.js
  frontend/src/services/echoService.js
  frontend/src/services/requestService.js
  frontend/src/store/modules/auth/mutations.js
Labels: frontend

#257 Add map list component
  frontend/src/components/dashboard/geo_location/MapList.vue
  frontend/src/pages/GeoLocationPage.vue
Labels: frontend

#256 rename route for retrieving total visitors for table
  backend/app/Actions/Visitors/GetNewVisitorsByParameterAction.php
  backend/app/Actions/Visitors/GetVisitorsCountByParameterAction.php
  backend/app/Actions/Visitors/GetVisitorsCountByParameterRequest.php
  backend/app/Actions/Visitors/GetVisitorsCountByParameterResponse.php
  backend/app/Http/Controllers/Api/VisitorController.php
  backend/app/Http/Requests/Visitor/GetTableVisitorsByParameterHttpRequest.php
  backend/database/factories/SessionFactory.php
  backend/routes/api.php
  backend/tests/Feature/TableVisitorsApiTest.php
  frontend/src/api/visitors/totalVisitorsService.js
Labels: fix

#258 fix visit factory
  backend/app/Actions/GeoLocation/GetGeoLocationItemsAction.php
  backend/database/factories/VisitFactory.php
Labels: fix

#260 Add method to return all sessions count grouped by country
  backend/app/Actions/GeoLocation/GetGeoLocationItemsAction.php
  backend/app/Repositories/Contracts/SessionRepository.php
  backend/app/Repositories/EloquentSessionRepository.php
Labels: backend

#261 fix retrieving new visitors for table
  backend/app/Actions/GeoLocation/GetGeoLocationItemsAction.php
  backend/app/Actions/Visitors/GetNewVisitorsCountAction.php
  backend/app/Actions/Visitors/GetNewVisitorsCountRequest.php
  backend/app/DataTransformer/GeoLocation/GeoLocationItem.php
  backend/app/Http/Controllers/Api/VisitorController.php
  backend/app/Http/Requests/Visitor/GetNewVisitorsCountByParameterHttpRequest.php
  backend/routes/api.php
  backend/tests/Feature/TableNewVisitorsApiTest.php
  frontend/src/api/visitors/bounceRateService.js
  frontend/src/api/visitors/newVisitorsService.js
Labels: fix

#264 add local variable data activity, add setInterval
  frontend/src/components/dashboard/home/ActiveVisitorsCard.vue
  frontend/src/pages/Dashboard.vue
  frontend/src/store/modules/dashboard/actions.js
  frontend/src/store/modules/dashboard/types/actions.js
Labels: frontend

#266 Add action to get bounce rate by country and change test
  backend/app/Actions/GeoLocation/GetGeoLocationItemsAction.php
  backend/app/Repositories/Contracts/VisitorRepository.php
  backend/app/Repositories/EloquentVisitorRepository.php
  backend/tests/Feature/GeoLocationApiTest.php
Labels: backend

#244 feature/pageviews-endpoint-button-avg-time-on-page-by-daterange
  backend/app/Actions/Visits/GetPageViewsAvgTimeAction.php
  backend/app/Actions/Visits/GetPageViewsAvgTimeRequest.php
  backend/app/Http/Controllers/Api/VisitController.php
  backend/app/Http/Requests/Visit/GetPageViewsAvgTimeHttpRequest.php
  backend/app/Repositories/PageViews/EloquentButtonDataRepository.php
  backend/routes/api.php
  backend/tests/Feature/GetPageViewsAvgTimeByDateRangeTest.php
Labels: backend

#273 Feature/add endpoint for chart unique page views
  backend/app/Actions/Visits/GetUniquePageViewsChartAction.php
  backend/app/Actions/Visits/GetUniquePageViewsChartRequest.php
  backend/app/Actions/Visits/GetUniquePageViewsChartResponse.php
  backend/app/Http/Controllers/Api/VisitController.php
  backend/app/Http/Requests/Visit/GetUniquePageViewsChartHttpRequest.php
  backend/app/Repositories/Contracts/ChartVisitRepository.php
  backend/app/Repositories/EloquentChartVisitRepository.php
  backend/routes/api.php
  backend/tests/Feature/ChartVisitsApiTest.php
Labels: backend

#265 link geo-location frontend with backend
  frontend/.env.example
  frontend/src/api/geo_location/geoLocationItemsService.js
  frontend/src/api/geo_location/transformer.js
  frontend/src/components/dashboard/geo_location/GroupedTable.vue
  frontend/src/components/dashboard/geo_location/MapButtons.vue
  frontend/src/components/dashboard/geo_location/MapChart.vue
  frontend/src/components/dashboard/geo_location/MapList.vue
  frontend/src/config.js
  frontend/src/pages/GeoLocationPage.vue
  frontend/src/services/periodService.js
  frontend/src/store/modules/geo_location/actions.js
  frontend/src/store/modules/geo_location/getters.js
  frontend/src/store/modules/geo_location/mutations.js
  frontend/src/store/modules/geo_location/state.js
  frontend/src/store/modules/geo_location/types/actions.js
  frontend/src/store/modules/geo_location/types/getters.js
  frontend/src/store/modules/geo_location/types/mutations.js
Labels: frontend

#276 Feature/add page views api
  frontend/src/api/page_views/averageTimeService.js
  frontend/src/api/page_views/bounceRateService.js
  frontend/src/api/page_views/factoryPageViewsService.js
  frontend/src/api/page_views/pageViewsService.js
  frontend/src/api/page_views/transformers.js
  frontend/src/api/page_views/uniquePageViewsService.js
  frontend/src/configs/page_views/buttonTypes.js
  frontend/src/pages/PageViews.vue
  frontend/src/store/modules/page_views/state.js
Labels: frontend

#280 add user and website seeder with default values
  backend/database/seeds/DatabaseSeeder.php
  backend/database/seeds/DefaultUserAndWebsiteSeeder.php
Labels: backend, urgent

#282 Fix list data, when selected bounce rate parameter
  frontend/src/components/dashboard/geo_location/MapList.vue
Labels: fix, frontend

#279 Feature/add endpoint displaying active users
  backend/app/Actions/Visitors/GetAllActivityVisitorAction.php
  backend/app/Actions/Visitors/GetAllActivityVisitorResponse.php
  backend/app/DataTransformer/Visitors/ActiveVisitorItem.php
  backend/app/Http/Controllers/Api/VisitorController.php
  backend/app/Http/Resources/ActivityVisitorItemResource.php
  backend/app/Repositories/Contracts/VisitorRepository.php
  backend/app/Repositories/EloquentVisitorRepository.php
  backend/routes/api.php
  backend/tests/Feature/ActivityVisitorTest.php
Labels: backend

#274 Add endpoint to get visitors bounce rate
  backend/app/Actions/GeoLocation/GetGeoLocationItemsAction.php
  backend/app/Actions/Visitors/GetVisitorsBounceRateByParameterAction.php
  backend/app/Actions/Visitors/GetVisitorsBounceRateByParameterRequest.php
  backend/app/Actions/Visitors/GetVisitorsBounceRateByParameterResponse.php
  backend/app/DataTransformer/Visitors/BounceRateVisitors.php
  backend/app/Entities/Visitor.php
  backend/app/Http/Controllers/Api/VisitorController.php
  backend/app/Http/Resources/VisitorsBounceRateResource.php
  backend/app/Repositories/Contracts/TableVisitorsRepository.php
  backend/app/Repositories/EloquentTableVisitorsRepository.php
  backend/routes/api.php
  backend/tests/Feature/TableBounceRateVisitorsApiTest.php
  backend/tests/TestDataFactory.php
Labels: backend

#291 Fix/line chart date
  frontend/src/components/common/LineChart.vue
  frontend/src/pages/PageViews.vue
  frontend/src/pages/Visitors.vue
Labels: fix, frontend

#293 fix/add-website_id-to-session-creation
  backend/app/Actions/Visits/CreateVisitAction.php
  backend/app/Repositories/Contracts/PageRepository.php
  backend/app/Repositories/EloquentPageRepository.php
Labels: backend, fix

#296 Feature/add seed for visitors page
  backend/database/seeds/DatabaseSeeder.php
  backend/database/seeds/InitVisitorsSeeder.php
  backend/database/seeds/PageTableSeeder.php
  backend/database/seeds/SessionTableSeeder.php
  backend/database/seeds/UserTableSeeder.php
  backend/database/seeds/VisitTableSeeder.php
  backend/database/seeds/VisitorTableSeeder.php
  backend/database/seeds/WebsiteTableSeeder.php
Labels: backend

#298 fix session table filtering by browser parameter
  backend/app/Repositories/EloquentTableSessionRepository.php
  backend/tests/Feature/GetSessionsByParameterTest.php
Labels: backend, fix

#299 fix average session date return format to timestamp and fix error message
  backend/app/Actions/Sessions/GetAverageSessionByIntervalAction.php
  backend/tests/Feature/ChartAverageSessionsApiTest.php
Labels: backend, fix

#300 fix return counter value for grouped visits data
  backend/app/Repositories/EloquentTableVisitRepository.php
Labels: backend, fix

#286 Feature/send notification visits
  backend/app/Actions/Visits/CreateVisitAction.php
  backend/app/Events/VisitCreated.php
  backend/app/Listeners/SendVisitsNotification.php
  backend/app/Notification/ActiveUser.php
  backend/app/Providers/EventServiceProvider.php
  backend/routes/channels.php
  backend/tests/Feature/VisitsApiTest.php
Labels: backend
